button,
div,
form,
input {
  margin: 10px;
}

.navbar {
    color: rgb(98, 238, 98);
}

div{
    display: inline-block;  
}

img {
    border-radius: 25px; 
}
p {
    text-align: center;
    background-color: grey;
    border-radius: 25px; 
    color: white;
}